body {
  margin: 0;
  min-height: 100vh;
  background-color: yellow;
}

footer {
  color: #ffffff;
  text-align: center;
  padding: 15px 0;
  width: 100%;
  background-color: transparent;
  margin-top: auto;
}
